<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Oksana Briclot Gallery</title>
</head>
<body>
<h1>Successful saved</h1>

<div>
    <form title="listOfStories" th:action="@{/listOfTails}" method="post">
        <input class="butt" title="listOfTails" type="submit" value=" To list of Tails">
    </form>
</div>
<br>
<br>
<div>
    <form title="addNewStory" th:action="@{/addNewPeople}" method="post">
        <input class="butt" title="addNewStory" type="submit" value="Add new People Photo">
    </form>
</div>
<br>
<br>
<div>
    <form class="butt" title="addNewStory" th:action="@{/addNewFood}" method="post">
        <input title="addNewStory" type="submit" value="Add new Food Photo">
    </form>
</div>
</body>
</html>