
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: start;
  max-width: 720px;
  margin: 0 auto;
  height: 10vh;
  list-style: none;
}

.menu li {
  width: 125px;
  height: 50px;
  -webkit-transition: background-position-x 0.9s linear;
  transition: background-position-x 0.9s linear;
  text-align: center;
}
.menu li a {
  font-size: 15px;
  color: #000000;
  text-decoration: none;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}
.menu li:hover {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
  -webkit-animation: line 1s;
  animation: line 1s;
}
.menu li:hover a {
  color: #000000;
}
.menu li:not(:last-child) {
  margin-right: 30px;
}

@-webkit-keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

img{
  position: center;}

a:hover {
  text-decoration	: none;
}
a.tooltipLeft span {
  display			: none;
  padding: auto;
}
a.tooltipLeft:hover span {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  display			: inline;
  position		: absolute;
  text-align: center;
  padding-top: 26.5%;
  color			: whitesmoke;
  background-color:rgba(0,0,0,.3);
  line-height:50px;
  margin:0;
  padding-left: 0%;
  width:48.75%;
  height: 46.6%;
}
a.tooltipRight span {
  display			: none;
  padding: auto;
}
a.tooltipRight:hover span {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  display			: inline;
  position		: absolute;
  text-align: center;
  padding-top: 26.5%;
  color			: whitesmoke;
  background-color:rgba(0,0,0,.3);
  line-height:50px;
  margin:0;
  width:48.75%;
  height: 46.6%;
}
.contacts{
bottom:0px;
}
.footer{
bottom:0px;}

.contentD{
  text-position: justify;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom:5%;
}